body {
    margin: 0;
    background: #fafafa;
    font-family: 'Fira Sans', sans-serif;

    --color-primary: #fdd835;
    --color-primary-dark: #e3c230;
    --color-highlight: #8e24aa;

    --page-space: 48px;
    --navigation-space: 16px;
}

.wrapper {
    min-height: 100vh;
}

.navigation {
    border-right: 1px solid var(--color-primary-dark);
    background: var(--color-primary);
    overflow-y: scroll;
    overflow-x: hidden;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 250px;
    gap: 16px;
    display: flex;
    flex-direction: column;
}

.navigation::-webkit-scrollbar {
    width: 4px;
}

.navigation::-webkit-scrollbar-track {
    background: var(--color-primary-dark);
}

.navigation::-webkit-scrollbar-thumb {
    background: #666;
}

.navigation::-webkit-scrollbar-thumb:hover {
    background: #333;
}

.logo {
    box-sizing: border-box;
    width: 100%;
    padding: 16px var(--navigation-space);
    display: grid;
    text-decoration: none;
    box-shadow: 1px 0 2px rgba(0, 0, 0, .2);
}

.logo:hover {
    background: var(--color-primary-dark);
}

.logo img {
    border: 0 !important;
}

.navigation > ul {
    margin: 0 0 16px 0;
    padding: 0;
    list-style: none;
}

.navigation > ul > li {
    display: block;
    margin: 0;
    padding: 0;
}

.navigation > ul > li > a {
    display: block;
    text-decoration: none;
    color: #333;
    font-size: 1rem;
    padding: 8px var(--navigation-space);
    transition: 200ms all;
}

.navigation > ul > li > a:hover {
    color: #111;
    background: var(--color-primary-dark);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Oxygen', sans-serif;
    font-weight: normal;
}

.content-container {
    grid-column-start: 2;
    padding: 0 var(--page-space) 16px calc(250px + var(--page-space));
}

.content-header {
    background: #fff;
    box-shadow: 1px 0 2px rgba(0, 0, 0, .2);
    margin: 0 calc(-1 * var(--page-space)) 32px calc(-1 * var(--page-space));
    padding: 16px var(--page-space);
    line-height: 28px; /* same as logo */
    color: #666;
}

.breadcrumb-separator {
    color: var(--color-primary-dark);
    font-weight: bold;
    padding: 0 8px;
}

.container {
    max-width: 1024px;
    margin: 0 auto;
}

.content {
    line-height: 1.5;
    color: #111;
    font-size: 1rem;
    letter-spacing: 0.01em;
}

table {
    display: inline-block;
    vertical-align: top;
    overflow-x: auto;
    white-space: nowrap;
    border: 0;
    border-collapse: collapse;
    border-radius: 3px;
    max-width: 100%;
}

tr:first-child th:first-child,
tr:first-child td:first-child {
    border-top-left-radius: 4px;
}

tr:first-child th:last-child,
tr:first-child td:last-child {
    border-top-right-radius: 4px;
}

tbody tr:last-child th:first-child,
tbody tr:last-child td:first-child {
    border-bottom-left-radius: 4px;
}

tbody tr:last-child th:last-child,
tbody tr:last-child td:last-child {
    border-bottom-right-radius: 4px;
}

th {
    text-align: left;
    background: #e6e1e1;
    font-weight: normal;
}

td {
    background: #f3efef;
}

th, td {
    padding: 6px 12px;
    border-bottom: 1px solid #fff;
}

tr:last-child td,
tr:last-child th {
    border-bottom: 0;
}

a {
    color: #1976d2;
    text-decoration: none;
}

a:hover {
    color: #0d47a1;
    text-decoration: underline;
}

h1 {
    margin-top: 2px;
}

code {
    font-family: 'Fira Code', monospace;
    font-size: 0.9em;
    background: #fcfcfc;
    border-radius: 3px;
    padding: 2px 4px;
    word-wrap: break-word;
    box-decoration-break: clone;
    box-shadow: 0 0 0 1px #eee;
}

pre {
    padding: 16px;
    border-radius: 4px;
    border: 1px solid #ddd;
    background: #fff;
    line-height: 1.45; /* prevent jumping before highlight */
    /* These are technically the same, but use both */
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-wrap: break-word;
    /* Instead use this non-standard one: */
    word-break: break-word;
    /* because firefox requires it ... */
    white-space: pre-wrap;
    max-width: 100%;
    min-width: 100px;
    -webkit-overflow-scrolling: touch;
    overflow-x: auto;
}

pre code {
    display: block;
    background: none;
    white-space: pre;
    padding: 0;
    border: 0;
    box-shadow: none;
}

pre::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

pre::-webkit-scrollbar-track {
    background: var(--color-primary-dark);
}

pre::-webkit-scrollbar-thumb {
    background: #666;
}

pre::-webkit-scrollbar-thumb:hover {
    background: #333;
}

#menu {
    display: none;
}

#menu-switch {
    display: none;
}

@media (max-width: 1024px) {
    body {
        --page-space: 32px;
        --navigation-space: 32px;
    }

    .navigation {
        display: flex;
        position: relative;
        height: auto;
        width: 100%;
        overflow-y: auto;
    }

    .content-container {
        padding: 0 var(--page-space) 16px var(--page-space);
    }

    #menu + .wrapper .navigation > ul {
        display: none;
    }

    #menu:checked + .wrapper .navigation > ul {
        display: block;
    }

    #menu-switch {
        position: absolute;
        right: 0;
        top: 0;
        width: 60px;
        height: 60px;
        display: flex;
        place-content: center;
    }
}